*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Regular';
  font-size: 21px;
  margin-inline: auto;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1128px;
}

.row {
  display: flex;
  align-items: center;
  gap: 3rem;
}

header {
  flex-direction: column;
  background-color: #f3eed9;
  align-items: center;
  text-align: center;
  padding: 150px 0;
}

header h1 {
  color: #824936;
  font-size: 60px;
  font-family: 'Playfair Display Black';
  margin: 0;
}

header h4 {
  font-size: 18px;
  font-family: 'Roboto Light';
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
}

.section-1 {
  padding: 3rem;
  flex-direction: column;
}

.section-1 h2 {
  color: #824936;
  font-size: 36px;
  font-family: 'Playfair Display';
  font-weight: 900;

}

.section-2 {
  background-color: #222c2a;
  color: white;
  padding: 3rem;
}

.section-2 h2 {
  font-size: 36px;
  font-family: 'Playfair Display';
}

.section-3 {
  background-color: #824936;
  color: white;
  padding: 3rem;
}

.section-3 h2 {
  font-size: 36px;
  font-family: 'Playfair Display';
}

